.idea
__pycache__
/**/*.o
/**/*.gcna
/**/*.gcno
/**/*.swp
/**/Makefile
/**/CMakeCache.txt
/cmake_install.cmake
/**/cmake_install.cmake
/CMakeFiles/
/**/CMakeFiles/
/build/
/linux/
/msvc*
/android*
/tizen*
/ios*
/packages/
/Testing/
/CMakeCache.txt
/CPackConfig.cmake
/**/CPackConfig.cmake
/CPackSourceConfig.cmake
/**/CPackSourceConfig.cmake
/CTestTestfile.cmake
/**/CTestTestfile.cmake
/DartConfiguration.tcl
/**/DartConfiguration.tcl
/.cproject
/.project
/Makefile
/release*
*.user
*.suo
*.aps
*.pyc
/result
/unix
/cmake
temp.tmp
.DS_Store
*.iobj
*.ipdb
*.opendb
*.db
*.ipch
*.sdf
__km_anal*.txt
ghostdriver.log

# folders
TOPIC/BUILD*
mackore/KoreNLPXC/KoreNLPXC.xcodeproj/xcuserdata/
mackore/KoreNLPXC/KoreNLPXC.xcodeproj/project.xcworkspace/xcuserdata/
Debug
Release


# file types in folder
TMP/**/*.txt
TMP/**/*.bin
USERS/**/*.txt
LOGS/**/*.txt
VERIFY/**/*.txt

# ignore so it does not get committed by mistake on windows
BINARIES/MacChatScript
BINARIES/chatscript_Debug_v140.exe

# file types
*.DS_Store
*.bak
*.pdb
*.ilk
*.o
*.lnk
*.log

# specific files
private/KORA/TESTS/regress-qabots-result*.txt
private/KORA/TESTS/*.swp

# force keep
!DICT/ENGLISH/
/output
